.popup.success-popup
  .popup__row.success-popup__row
    .popup__content.success-popup__content
      h3.success-popup__title Мы получили вашу заявку
      p.success-popup__subtitle В ближайшее время мы свяжемся с вами по указанному номеру телефона
      button.success-popup__button.reset-trigger(type="button") Хорошо