@use 'reset';

@use 'libs/swiper.scss';

@use 'all';
@use 'fonts';
@use 'popups';
@use 'sliders';
@use 'vars' as vars;
@use 'anims' as anims;


img[aria-hidden="true"] {
  user-select: none;
  pointer-events: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
  
  &.big {
    max-width: 1290px;
  }

  &.small {
    max-width: 875px;
  }
}

body {
  font-family: vars.$main-font;
  overflow: hidden;
  min-width: 300px;
  width: 100vw;
  color: vars.$color-text;
  overflow-anchor: none;
}

.wrapper {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
}
html.active {
  overflow-y: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
}

section {
  overflow: hidden;
}

// === Описание шапки сайта ===
.header {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 190px;
    z-index: 1;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background: rgba(#000, .5);
    transition: opacity ease .4s, visibility ease .4s;
    opacity: 0;
    visibility: hidden;
  }

  &.active {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }

  &__bg {
    position: absolute;
    // inset: 0;
    max-width: 100%;
    // max-height: 110vh;
    height: 110%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .nav {
    &__inner {
      padding: 10px 0;
      display: flex;
      align-items: center;
    }
  }

  .tel {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
    color: vars.$color-text;
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    transition: opacity ease .1s;

    &__nums {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
    }

    &__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      transition: color ease .2s;
    }
    
    &__icon {
      margin-right: 9px;
    }

    &:hover {
      .tel__text {
        color: vars.$color-accent-1;
      }
    }

    &:active {
      opacity: .5;
    }
  }

  // Текст по центру
  &-content {
    margin-top: 54px;

    &__text {
      text-align: center;
      max-width: 760px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }

    &__title {
      font-weight: 600;
      font-size: 52px;
      line-height: 63px;
      margin-bottom: 21px;
    }

    &__subtitle {
      font-weight: 300;
      font-size: 32px;
      line-height: 39px;
      margin-bottom: 34px;
    }

    &__note span {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      position: relative;
      vertical-align: middle;
    }

    &__note i {
      color: #93DA49;
    }

    &__note-icon {
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  // Крутящийся крудок
  &-actions {
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: center;

    &__bg-text {
      text-transform: uppercase;
      font-size: 133px;
      font-weight: 900;
      z-index: -1;
      color: rgba(#fff, .2);
      letter-spacing: clamp(10px, 1vw, 20px);
      text-align: center;
      position: absolute;
      left: 50%;
      bottom: -25px;
      transform: translate(-50%, 0);
      user-select: none;
    }

    &__inner {
      position: relative;

      .arrow {
        position: absolute;
        user-select: none;
        pointer-events: none;

        &-2 {
          right: -180px;
          top: -50px;
        }

        &-1 {
          left: -180px;
          top: -100px;

          img {
            transform: scaleX(-1);
          }
        }

        &__text {
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          color: #fff;
          position: absolute;
          top: 40px;
          left: 43%;
          transform: translateX(-50%);
        }
      }

      .subtext {
        position: absolute;
        right: -50px;
        bottom: -20px;
      }
    }
  }

  @media (max-width: 1230px) {
    .header-actions__bg-text {
      font-size: 90px !important;
    }
  }
  
  @media (max-width: 890px) {
    .header-actions__bg-text {
      font-size: 80px !important;
    }
  
    .tel {
      margin-left: 40px;
    }
  }

  @media (max-width: 790px) {
    .header-actions__bg-text {
      font-size: 70px !important;
    }
  }

  @media (max-width: 690px) {
    background: vars.$color-accent-1;

    .logo {
      grid-area: logo;
    }

    &__bg,
    .socials {
      display: none;
    }

    .socials {
      grid-area: socials;

      &__list {
        column-gap: 21px;
      }

      &__link {
        svg.default {
          display: none;
        }

        svg.mobile {
          display: block;
        }
      }
    }

    .header-actions__bg-text {
      display: none;
    }

    .tel {
      color: #fff;
      margin: 0;
      grid-area: tel;
      justify-self: center;

      svg path {
        fill: vars.$color-accent-2;
      }
    }

    .nav {
      position: relative;
      z-index: 10;

      &__inner {
        justify-content: space-between;
        display: grid;
        grid-auto-flow: column;
        grid-template-areas: 
          "logo burger"
          "tel tel"
        ;
        grid-row-gap: 40px;
      }
    }

    .header-actions {
      margin-top: 60px;
      padding-bottom: 50px;

      .arrow {
        display: none;
      }
    }

    // Кнопка
    .main-action {
      background: vars.$color-accent-2;

      path {
        fill: #1E1E1E;
      }

      &__icon-block {
        border-color: #1E1E1E;

        rect.paint {
          fill: #1E1E1E;
        }
      }
    }

    // Текст
    &-content {
      &__text {
        color: #fff;
      }

      &__title {
        font-size: 36px;
        line-height: 44px;
      }

      &__subtitle {
        font-size: 20px;
        line-height: 24px;
      }

      &__note {
        font-size: 18px;
        line-height: 22px;
      }

      &__note i {
        color: vars.$color-accent-3;
      }

      &__note-icon rect.paint {
        fill: vars.$color-accent-3;
      }
    }

    .nav.active {
      .nav__inner {
        grid-template-areas: 
          "logo burger"
          "socials socials"
        ;
      }

      .tel {
        display: none;
      }

      .socials {
        display: block;
        justify-self: center;
        margin-left: 0;
      }

      .burger {
        &__inner {
          transform: translate(0, 0);
        }

        &__line {
          &_1 {
            transform: translate(0, 5px);
            opacity: 0;
          }

          &_2 {
            transform: rotate(45deg);
          }
          
          &_3 {
            transform: translate(0, 5px);
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  @media (max-width: 420px) {
    .header-content__note-icon {
      display: block;
      margin: 0 auto 10px auto;
    }
  }
}

// === Преимущества компании ===
.advantages {
  margin-top: 100px;

  &-list {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
  }

  .advantage-item {
    display: flex;
    align-items: center;
    column-gap: 20px;

    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
    }

    b {
      font-weight: 600;
    }
  }

  @media (max-width: 1065px) {
    &-list {
      column-gap: 44px;
    }
  }

  @media (max-width: 758px) {
    &-list {
      flex-direction: column;
      column-gap: 0;
      row-gap: 44px;
      align-items: center;
    }

    .advantage-item {
      width: 80%;
    }
  }
  
  @media (max-width: 500px) {
    .advantage-item {
      width: auto;
    }
  }
}

// === Описание терминов ===
.terms {
  position: relative;

  &__bg {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, -5%);
    width: 100%;
    // max-height: 1200px;
    object-fit: cover;
  }

  &__row {
    padding-top: 100px;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    width: 70%;
    margin: 0 auto;
  }

  .term {
    margin-top: 120px;
    display: flex;
    align-items: flex-end;
    column-gap: 360px;
    position: relative;
    
    &.column {
      flex-direction: column;
      align-items: flex-end !important;
      column-gap: 0 !important;
      row-gap: 0 !important;

      .term__text {
        margin-top: 34px;
        width: 30%;
        position: relative;

        &-icon {
          position: absolute;
          transform: translate(-100%, 0);
          left: -40px;
          top: 0;
        }
      }

      .term__image {
        right: none;
        top: -100px;
        left: 150px;
        transform: translateX(0%);
      }
    }

    &__title-block {
      display: flex;
    }

    &__title {
      font-weight: 700;
      font-size: 96px;
      line-height: 117px;
      letter-spacing: 3px;
      color: vars.$color-accent-1;
      text-transform: uppercase;
      white-space: nowrap;

      &.global {
        position: relative;

        &::before {
          content: "0";
          font-size: 288px;
          font-weight: 600;
          color: vars.$color-accent-2;
          line-height: 351px;
          position: absolute;
          right: 0;
          top: 0;
          transform: translate(130%, -30%);
          z-index: -1;
        }
      }
    }

    &__image {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(72%, -50%);
      z-index: -1;
    }

    &__text-block {
      display: flex;
      flex-direction: column;
    }

    &__text {
      margin-top: auto;
      font-weight: 500;
      font-size: 22px;
      line-height: 40px;

      strong {
        font-weight: 600;
        color: vars.$color-accent-1;
      }
    }
  }

  // Примечание
  .note {
    margin-top: 100px;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 46%;
      width: 6px;
      display: block;
      top: 50%;
      background: vars.$color-accent-1;
    }

    &::before {
      left: 0;
      transform: translate(-50%, -50%);
    }
    
    &::after {
      right: 0;
      transform: translate(50%, -50%);
    }

    &__row {
      padding: 30px 80px;
      background: rgba(vars.$color-accent-1, .1);
    }

    &__text {
      font-weight: 500;
      font-size: 20px;
      line-height: 36px;
      text-align: center;

      s,
      strong {
        font-weight: 600;
      }

      s {
        text-decoration: line-through;
        color: vars.$color-accent-4;
      }

      strong {
        color: vars.$color-accent-1;
      }
    }
  }

  .attraction {
    margin-top: 210px;
  }

  @media (max-width: 1150px) {
    &__bg {
      display: none;
    }

    .term {
      column-gap: 300px;
    }

    .term.column {
      .term__image {
        left: 0;
      }

      .term__text {
        width: 40%;
      }
    }
  }

  @media (max-width: 970px) {
    .term {
      flex-direction: column;
      align-items: stretch;
      row-gap: 100px;

      &__title {
        white-space: normal;

        &.global {
          &::before {
            transform: translate(130%, 20%);
          }
        }
      }

      &__image {
        top: 50%;
        bottom: 0;
        transform: translate(100%, -50%);
        left: unset;
        right: 0;

        // top: unset;
        // bottom: 0;
        // transform: translate(72%, 45%);
      }
    }
    
    .term.column {
      align-items: stretch !important;
      
      .term__image {
        left: 0;
        transform: translateX(65%);
      }

      .term__text {
        margin-top: 130px;
      }

      .term__text-icon {
        transform: translate(0, -100%);
        left: unset;
        top: -40px;
      }
    }
  }

  @media (max-width: 780px) {
    &__title {
      width: auto;
    }

    .term {
      &__image {
        transform: translate(60%, -25%);
      }

      &__title {
        &.global::before {
          transform: translate(90%, 20%);
        }
      }
    }
  }

  @media (max-width: 730px) {
    .attraction {
      margin-top: 115px;
    }

    .term.column {
      .term__text {
        width: 55%;
      }
    }
  }

  @media (max-width: 640px) {
    .term.column {
      .term__text {
        width: 90% !important;
      }
    }
  }

  @media (max-width: 540px) {
    .term.column {
      .term__image {
        transform: translate(65%, -10%);
        width: 415px;
      }
    }
  }

  @media (max-width: 510px) {
    .term {
      &__image {
        transform: translate(55%, -20%);
      }

      &__title {
        &.global::before {
          transform: translate(80%, 25%);
        }
      }
    }

    .note {
      &__row {
        padding: 30px;
      }
    }
  }

  @media (max-width: 440px) {
    .term {
      margin-top: 70px;

      &__image {
        transform: translate(45%, -20%);
      }

      &__title {
        &.global::before {
          transform: translate(50%, 25%);
        }
      }
    }
  }

  @media (max-width: 410px) {
    .term.column {
      .term__image {
        transform: translate(40%, 0);
        z-index: 0;
      }
    }
  }

  @media (max-width: 360px) {
    .term.column {
      .term__text {
        width: 100% !important;
      }
    }
  }
}

// === Оставление заявки ===
.get-order {
  background: url(../images/bg-order.png) center / cover no-repeat;
  margin-top: 200px;
  color: #fff;
  overflow: visible;

  &__row {
    padding: 93px 0 75px 0;
    position: relative;
  }

  &__decor-img {
    position: absolute;
    user-select: none;
    pointer-events: none;

    &_1 {
      left: 0;
      top: 0;
      transform: translate(-50%, -30%);
    }
    
    &_2 {
      right: 0;
      top: 0;
      transform: translate(50%, 20%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: relative;

    b {
      font-weight: 600;
    }
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
  }

  &__subtitle {
    text-align: center;
    margin-top: 12px;
    font-weight: 400;
    font-size: 32px;
  }

  &__list {
    margin-top: 58px;
    display: flex;
    align-self: center;
    column-gap: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 19px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }

  &__button {
    margin-top: 50px;
    align-self: center;
  }

  @media (max-width: 1400px) {
    &__decor-img {
      &_1 {
        transform: translate(-40%, -30%);
      }
    }
  }

  @media (max-width: 1100px) {
    &__decor-img {
      width: 500px;

      &_1 {
        transform: translate(-35%, -20%);
      }
    }
  }

  @media (max-width: 780px) {
    margin-top: 100px;

    &__title {
      font-size: 36px;
      line-height: 44px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 24px;
      margin-top: 30px;
      text-align: center;
    }

    &__list {
      flex-direction: column;
      align-self: stretch;
      row-gap: 150px;
    }

    &__item:nth-child(1) {
      align-self: flex-end;
    }

    &__item:nth-child(2) {
      align-self: flex-start;
    }

    &__decor-img {
      &_1 {
        transform: translate(-35%, 20%);
      }
      
      &_2 {
        transform: translate(50%, 40%);
      }
    }
  }

  @media (max-width: 510px) {
    &__list {
      row-gap: 200px;
    }

    &__item:nth-child(1) {
      width: 50%;
    }

    &__item:nth-child(2) {
      width: 65%;
    }

    &__decor-img {
      width: 400px;

      &_1 {
        transform: translate(-45%, 60%);
      }
      
      &_2 {
        transform: translate(50%, 85%);
      }
    }

    .order-button {
      padding: 20px 30px;
    }
  }
}

// === Выгоды для клиента ===
.benefits {
  margin-top: 100px;
  overflow: visible;

  &__line {
    margin-top: 100px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-gap: 58px;
  }

  .benefit {
    text-align: center;
    display: grid;
    grid-template-rows: 10% auto;
    grid-row-gap: 40px;
    
    &__title {
      color: vars.$color-accent-1;
      font-weight: 700;
      font-size: 22px;
      line-height: 29px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    &__description {
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      text-align: center;

      b {
        color: vars.$color-accent-1;
        font-weight: 600;
      }
    }

    &__img {
      justify-self: center;
      border-radius: 0 60px 0 60px;
      max-width: 100%;
    }
  }

  @media (max-width: 1100px) {
    &-list {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .benefit {
      &:last-child {
        width: 33.333%;
        justify-self: center;
        grid-column: span 2;
      }
    }
  }

  @media (max-width: 740px) {
    &-list {
      grid-gap: 20px;
    }
  }

  @media (max-width: 690px) {
    &__line {
      margin-top: 60px;
    }

    &-list {
      grid-template-columns: none;
      grid-row-gap: 54px;
    }

    .benefit {
      &:last-child {
        grid-column: unset;
        width: auto;
      }
    }
  }
}

// === Разоблачение мифов ===
.myths {
  overflow: visible;
  margin-top: 122px;
  position: relative;

  &__bg {
    position: absolute;
    width: 100%;

    &_1 {
      top: 0;
      left: 0;
    }

    &_2 {
      bottom: 0;
      left: 0;
      transform: translate(0, 30%);
    }
  }

  &-grid {
    margin-top: 122px;
    
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 85px;
      grid-row-gap: 125px;
      counter-reset: counter-myth 0;
    }
  }

  // Карточка мифа
  .myth {
    counter-increment: counter-myth 1;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-rows: 1fr 4fr;
    background: #F6F6F6;
    padding: 40px;
    position: relative;

    // Выдумка
    .fiction {
      color: vars.$color-accent-4;
      
      &__row {
        border-left: 6px solid currentColor;
        padding-left: 26px;
        margin-left: 40px;
        position: relative;

        &::before {
          content: "";
          width: 35px;
          height: 35px;
          background: url(../images/cross-mark.svg) center / cover no-repeat;
          display: block;
          position: absolute;
          left: -45px;
        }
      }

      &__title {
        color: currentColor;        
      }

      &__about {
        color: vars.$color-text-bold;
      }
    }

    // Разоблачение
    .real {
      margin-top: 58px;
      background: vars.$color-accent-1;
      color: #fff;
      flex-grow: 1;
      max-height: 400px;

      &__row {
        padding: 40px;
      }

      &__title {
        display: flex;
        column-gap: 26px;
        align-items: center;
        white-space: nowrap;

        &::before {
          content: "";
          width: 20px;
          height: 18px;
          background: url(../images/check-mark.svg) center / cover no-repeat;
          display: block;
        }
      }
    }

    &__about {
      margin-top: 12px;
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      
    }

    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 34px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    &::before {
      content: counter(counter-myth);
      position: absolute;
      top: -40px;
      left: 40px;
      font-size: 64px;
      color: #ECECEC;
      transition: color ease .2s;
    }

    &:hover::before {
      color: #fff;
    }
  }

  @media (max-width: 1070px) {
    .bg {
      display: none;
    }

    .attraction {
      &__text {
        margin: unset;
        margin-left: 40px;
      }

      &__subtext {
        width: 85%;
      }
    }

    &-grid {
      &__list {
        grid-column-gap: 26px;
        grid-row-gap: 120px;
      }
    }

    .myth {
      .real {
        max-height: 460px;
      }
    }
  }

  @media (max-width: 890px) {
    .myth {
      padding: 40px 20px;

      .real {
        margin-top: 38px;
        max-height: 550px;
      }
    }
  }

  @media (max-width: 810px) {
    .attraction {
      padding: 0 20px;
    }

    &__container {
      padding: 0;
    }
  }

  @media (max-width: 770px) {
    overflow: visible;

    &-grid {
      margin-top: 75px;
      
      &__list {
        grid-template-columns: 1fr;
        grid-row-gap: 70px;
      }
    }

    .attraction {
      &__subtext {
        float: none;
        width: auto;
      }
    }

    .myth {
      grid-template-rows: 1fr min-content;
    }
  }

  @media (max-width: 730px) {
    .attraction {
      &__text {
        margin-left: 0;
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  @media (max-width: 480px) {
    .attraction {
      padding: 0 20px;
    }

    &__container {
      padding: 0;
    }
  }

  @media (max-width: 360px) {
    .myth {
      &__title {
        column-gap: 10px !important;
        white-space: normal !important;
        hyphens: auto;
      }
    }
  }
}

// === Почему мы ===
.why-we {
  margin-top: 120px;
  position: relative;
  overflow: visible;

  &__decor {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-55%, -40%);
    z-index: -1;
  }

  &__title {
    color: vars.$color-accent-1;
  }

  &__grid {
    margin-top: 94px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 120px 180px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    position: relative;

    &__icon {
      position: absolute;
      left: -22px;
      top: 0;
      transform: translate(-100%, 0);
    }

    &__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      color: vars.$color-accent-1;
    }

    &__description {
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: vars.$color-text-bold;

      strong {
        font-weight: 600;
      }

      i {
        color: vars.$color-accent-4;
      }
    }
  }

  @media (max-width: 1870px) {
    &__decor {
      transform: translate(-65%, -40%);
    }
  }
  
  @media (max-width: 1670px) {
    &__decor {
      transform: translate(-75%, -40%);
    }
  }
  
  @media (max-width: 1325px) {
    &__decor {
      display: none;
    }
  }

  @media (max-width: 1280px) {
    &-list {
      grid-gap: 120px 140px;
      padding-left: 30px;
    }
  }

  @media (max-width: 1250px) {
    &-list {
      padding-left: 50px;
    }
  }

  @media (max-width: 1180px) {
    &-list {
      padding-left: 80px;
    }
  }

  @media (max-width: 650px) {
    &-list {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 510px) {
    &__title {
      font-size: 36px;
      line-height: 44px;
    }

    &__grid {
      margin-top: 120px;
    }

    &-list {
      padding-left: 0;
    }

    &-item {
      text-align: center;

      &__icon {
        top: -20px;
        left: 50%;
        transform: translate(-50%, -100%);
      }
    }
  }
}

// === Красивая кнопка подачи заявки ===
.pretty-action {
  background: url(../images/bg-chain.png) center / cover no-repeat;
  margin-top: 85px;
  overflow: visible;
  height: 300px;

  &__row {
    display: flex;
    justify-content: center;
  }

  .main-action {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 130%;
      height: 130%;
      background: rgba(#144C90, .1);
      display: block;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      animation: pulse linear 1s infinite forwards alternate;
    }
  }
}

// === Стоимости ===
.cost {
  overflow: visible;
  margin-top: 60px;
  position: relative;

  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 50%);
  }

  &-grid {
    margin-top: 80px;

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
    }
  }


  // Карточка со стоимостью
  &-item {
    display: flex;

    &__article {
      border-top: 5px solid vars.$color-accent-5;
      background: #F7FFEF;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &__row {
      padding: 42px 42px 0 42px;
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      align-items: center;
      flex-grow: 1;
    }

    &__title {
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      &-sup {
        font-weight: 600;
        font-size: 22px;
        line-height: 25px;
      }

      &-sub {
        color: vars.$color-accent-5;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        
        strong {
          font-size: 18px;
          font-weight: 600;
          white-space: nowrap;
          letter-spacing: 0;
          text-transform: lowercase;
        }
      }

      &.green {
        .cost-item__title-sub strong {
          background: vars.$color-accent-5;
          color: #fff;
          padding: 3px 7px;
          margin-top: 3px;
          display: inline-block;
        }
      }
    }

    &-list {
      color: vars.$color-text-bold;

      &__item {
        display: flex;
        font-size: 16px;
        line-height: 32px;
      }

      &__title {
        font-weight: 600;
      }

      &__value {
        font-weight: 400;
        margin-left: 7px;
      }

      &__icon {
        margin-right: 13px;
      }
    }

    &-result {
      text-align: center;
      display: flex;
      flex-direction: column;

      &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 36px;
      }

      &__discount {
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 2px;
        text-decoration: none;
        position: relative;

        &::before {
          content: "";
          width: 70%;
          height: 2px;
          background: vars.$color-accent-4;
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) rotate(3deg);
        }
      }

      &__price {
        color: vars.$color-accent-1;
        font-weight: 600;
        font-size: 18px;
        line-height: 36px;
        text-decoration: none;
        white-space: nowrap;
      }
    }

    // Кнопка внизу карточки
    &__button {
      margin-top: 80px;      
    }
  }

  // Примечание с кнопкой
  &-note {
    margin-top: 50px;
    background: #F7FFEF;
    border: 1px solid #EAF7DE;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 86px;

    &__title {
      font-weight: 600;
      font-size: 52px;
      line-height: 60px;
    }

    &__action {
      width: 377px;
    }
  }

  @media (max-width: 1350px) {
    &-grid {
      &__list {
        grid-gap: 25px;
      }
    }
  }

  @media (max-width: 1310px) {
    &-grid {
      &__list {
        grid-gap: 50px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
      }
    }
  }

  @media (max-width: 910px) {
    &-note {
      column-gap: 35px;
    }
  }

  @media (max-width: 870px) {
    &-grid {
      &__list {
        grid-gap: 25px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
      }
    }

    &-note {
      flex-direction: column;
      row-gap: 42px;

      &__title {
        text-align: center;
      }

      &__text {
        text-align: center;  
      }

      &__action {
        width: auto;
        align-self: stretch;
      }
    }
  }

  @media (max-width: 840px) {
    &-grid {
      &__list {
        grid-template-columns: 1fr;
      }
    }
  }

  @media (max-width: 510px) {
    &-note {
      padding: 0;
      padding-top: 40px;

      &__title {
        font-size: 24px;
        line-height: 27px;
      }
    }
  }

  @media (max-width: 420px) {
    .cost-item {
      &__row {
        padding: 40px 20px 0 20px;
      }
    }
  }
  
  @media (max-width: 380px) {
    .cost-item {
      &__row {
        padding: 40px 8px 0 8px;
      }

      &-result__price {
        white-space: normal;
      }
    }
  }
}

// === Если не хватает денег ===
.blue-section {
  overflow: visible;
  margin-top: 146px;
  background: url(../images/bg-lacks.png) center/cover no-repeat;

  &__row {
    padding: 70px 0 100px 0;
  }

  &__line {
    position: relative;
    display: grid;
    grid-column-gap: 53px;
    grid-template-columns: 1fr 1.4fr;
    grid-template-areas: "image text";
    align-items: center;
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, -20%);
  }

  &__image-block {
    grid-area: image;
  }

  &__text-block {
    position: relative;
    z-index: 1;
    grid-area: text;
    color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 53px;
  }

  &__title {
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    text-align: start;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;

    b {
      font-weight: 700;
    }
  }

  &__action {
    align-self: flex-start;
    position: relative;
    z-index: 1;
  }

  @media (max-width: 1250px) {
    &__line {
      grid-template-areas: "text image";
      grid-template-columns: 1.7fr 1fr;
    }

    &__image {
      left: unset;
      top: unset;
      right: 0;
      bottom: 0;
      transform: translate(70%, 3%);
    }
  }

  @media (max-width: 1024px) {
    &__image {
      transform: translate(65%, 3%);
    }
  }

  @media (max-width: 840px) {
    &__line {
      grid-template-columns: none !important;
      grid-template-areas: none !important;
      grid-column-gap: 0 !important;
    }

    &__image {
      position: relative;
      transform: translate(-15%, 0);
      max-width: 100%;
    }

    &__title {
      text-align: center;
    }

    &__text-block {
      text-align: center;
    }

    &__action {
      align-self: center;
      padding: 30px 40px;
    }
  }
}

// === Выигранные дела ===
.cases {
  overflow: visible;
  background-image: url(../images/bg-cases.png);
  background-repeat: no-repeat;
  background-position: center -150px;
  background-size: cover;

  &__row {
    padding-top: 170px;
  }

  &-title {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 92px;
    line-height: 117px;
    color: vars.$color-accent-1;

    i {
      color: vars.$color-accent-2;
      font-size: 48px;
      line-height: 58px;
    }

    &__bottom {
      i {
        vertical-align: middle;
      }
    }
  }

  @media (max-width: 1030px) {
    &__row {
      padding-top: 40px;
    }

    &-title {
      font-size: 78px;
      line-height: 82px;

      i {
        font-size: 32px;
        line-height: 38px;
      }
    }

    .slider-outer {
      margin-top: 100px;
    }
  }

  @media (max-width: 830px) {
    &-title {
      font-size: 48px;
      line-height: 58px;

      i {
        font-size: 24px;
        line-height: 30px;
      }

      &__bottom {
        display: flex;
        flex-direction: column;
      }
    }
  }

  @media (max-width: 720px) {
    background-image: url(../images/confetti-decor-2.png);
    background-position: 0 -130px;
    background-size: contain;
  }

  @media (max-width: 530px) {
    &-title {
      width: auto;
      hyphens: auto;
    }
  }

  @media (max-width: 360px) {
    .slider-counter {
      column-gap: 15px;

      &__now {
        font-size: 38px;
      }

      &__sep {
        font-size: 20px;
        line-height: 25px;
      }

      &__max {
        font-size: 28px;
      }
    }
  }
}

// === Мы поможем ===
.we-help {
  position: relative;
  // background: url(../images/bg-blue.png) center/cover no-repeat;

  &__decor {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 10;
  }

  &__row {
    padding: 100px 0;
  }

  &__line {
    grid-template-columns: 1fr 2.5fr;
  }

  &__image {
    transform: translate(-120%, 0%);
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text-block {
    row-gap: 0;
  }
  
  &__text {
    margin-bottom: 70px;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
  }

  @media (max-width: 1250px) {
    &__decor {
      transform: translate(-50%, -100%);
    }

    &__image {
      transform: translate(105%, 30%);
    }

    &__line {
      grid-template-columns: 2.2fr 1fr;
    }
  }

  @media (max-width: 1145px) {
    &__image {
      transform: translate(90%, 30%);
    }
  }

  @media (max-width: 840px) {
    &__image {
      transform: translate(0%, -10%);
    }
  }
}

// === Примеры ситуаций ===
.examples {
  margin-top: 100px;

  &__title {
    width: 75%;
    margin: 0 auto;
  }

  &__decor {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20%, 0);
  }

  // Контейнер для слайдеров
  &__grid {
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }

  .example-block {
    color: #fff;
    padding: 30px 45px 30px 35px;
    position: relative;
    display: flex;
    column-gap: 20px;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 70px;
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
    }

    &__title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 36px;
      line-height: 47px;
      letter-spacing: 2px;
      writing-mode: vertical-lr;
      transform: scale(-1);
      cursor: default;
      user-select: none;
    }

    // Слайдер
    &__slider-outer {
      width: 90%;
    }

    .example-slider {
      &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
      }
    }
  }

  .problem {
    background: vars.$color-accent-1;
    width: 47%;
  }
  
  .solve {
    background: #fff;
    width: 71%;
    align-self: end;
    box-shadow: 0px 0px 145px rgba(0, 0, 0, 0.1);

    &__title {
      color: vars.$color-accent-1;
    }

    &__text {
      color: vars.$color-text-bold;
    }

    &-list {
      display: flex;
      flex-direction: column;
      color: vars.$color-text;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 20px;
      // white-space: nowrap;
      
      &__item {
        display: flex;
        column-gap: 20px;
      }

      &__name {
        color: vars.$color-accent-1;
        letter-spacing: 2px;
        text-transform: uppercase;
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 14px;
        flex-basis: min-content;
        white-space: nowrap;

        &::before {
          content: "";
          width: 6px;
          height: 6px;
          display: block;
          background: url(../images/rhomb.svg) center / cover no-repeat;
        }
      }

      &__value {
        font-weight: 500;
      }
    }
  }

  // Кнопки управления, статус текущего
  .extra {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    &-status {
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 29px;
      text-transform: uppercase;
      font-size: 24px;
      display: flex;
      column-gap: 20px;
      color: #C4C4C4;

      &__col {
        display: flex;
        column-gap: 6px;
      }

      &__text {
        color: #5E5E5E;
      }

      &__now {
        color: vars.$color-accent-1;
      }
    }

    &__buttons {
      display: flex;
      column-gap: 110px;
    }

    &__nav {
      width: 68px;
      height: 68px;
      background: vars.$color-accent-1;
      border-radius: 50%;
      z-index: 1;
      border: none;
      cursor: pointer;
      transition: background ease .2s, opacity ease .1s, scale ease .05s;

      &.swiper-button-disabled {
        background: #C4C4C4 !important;
        cursor: default;
        user-select: none;
        opacity: 1 !important;
        scale: 1 !important; 
      }

      &:hover {
        background: #3197F4;
      }
  
      &:active {
        opacity: .8;
        scale: .95;
      }
    }
  }

  &-slogan {
    display: flex;
    justify-content: center;

    &__text {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 133px;
      line-height: 162px;
      letter-spacing: 2px;
      color: #F6F6F6;
      margin-top: 73px;
      display: inline-block;
      text-align: center;
      cursor: default;
      user-select: none;
      pointer-events: none;
    }
  }

  @media (max-width: 1070px) {
    &-slogan {
      margin-top: 120px;

      &__text {
        font-size: 96px;
        line-height: 117px;
      }
    }

    .solve {
      width: 90%;
    }

    .problem {
      width: 55%;
    }

    .extra {
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 140%);
    }
  }

  @media (max-width: 910px) {
    &__title {
      width: auto;
    }
  }

  @media (max-width: 810px) {
    .problem {
      width: 85%;
    }
  }

  @media (max-width: 750px) {
    &-slogan {
      &__text {
        font-size: 76px;
        line-height: 87px;
      }
    }
  }

  @media (max-width: 690px) {
    margin-top: 80px;

    &__grid {
      margin-top: 40px;
    }
  }

  @media (max-width: 600px) {
    &-slogan {
      display: none;
    }

    &__decor {
      transform: translate(40%, 0);
    }
  }

  @media (max-width: 550px) {
    .problem,
    .solve {
      width: 100%;
    }

    .solve {
      &-list {
        &__name {
          white-space: normal;
        }
      }
    }
  }

  @media (max-width: 480px) {
    &__decor {
      top: 50%;
      transform: translate(20%, -85%);
      z-index: 5;
    }

    .example-block {
      flex-direction: column;
      padding: 30px 15px 30px 15px;
      text-align: center;

      .solve-list {
        text-align: start;
      }

      &__icon {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &__title {
        writing-mode: horizontal-tb;
        transform: none;
        margin-bottom: 13px;
      }


      &:not(:last-child) {
        margin-bottom: 190px;
      }
    }

    .problem {
      z-index: 0;
    }

    .solve {
      z-index: 10;
    }

    .extra {
      transform: translate(-50%, 0);
    }
  }

  @media (max-width: 370px) {
    &__decor {
      transform: translate(25%, -85%);
    }
  }
}

// === Этапы работы ===
.steps {
  overflow: visible;
  margin-top: 115px;
  position: relative;

  &__bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translate(0, 0%);
  }

  &__title {
    color: vars.$color-text-bold;
  }

  &__wrapper {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
  }

  &-list {
    counter-reset: step-counter;
    display: flex;
    flex-direction: column;
    row-gap: 44px;
  }

  // Карточка шага
  .step {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    color: #000;
    position: relative;
    counter-increment: step-counter;

    &__counter {
      position: absolute;
      top: 50%;
      left: -50px;
      transform: translate(-100%, -50%) rotate(45deg);
      background: #D0E5FF;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: counter(step-counter);
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: vars.$color-accent-1;
        transform: rotate(-45deg);
      }
    }

    &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
    }

    &__about {
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
    }
  }

  .main-action {
    margin-top: 92px;
    align-self: center;
  }

  @media (max-width: 1080px) {
    &-list {
      padding-left: 80px;
    }
  }

  @media (max-width: 1024px) {
    &__bg {
      display: none;
    }
  }

  @media (max-width: 940px) {
    &-list {
      padding-left: 110px;
    }
  }

  @media (max-width: 540px) {
    &-list {
      padding-left: 0;
      row-gap: 100px;
    }

    .step {
      text-align: center;
      
      &__counter {
        top: -20px;
        left: 50%;
        transform: translate(-50%, -100%) rotate(45deg);
      }
    }

    .main-action {
      margin-top: 60px;
    }
  }
}

// === Обращение автора проекта ===
.appeal {
  margin-top: 100px;

  &__title {
    color: vars.$color-text-bold;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
  }

  &__author {
    color: vars.$color-accent-1;
    font-size: 36px;
    line-height: 47px;
  }

  &__wrapper {
    margin-top: 65px;
    text-align: center;
  }

  &__video-container {
    position: relative;

    .video-play {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;
      
      &__button {
        background: vars.$color-accent-1;
        width: 139px;
        height: 139px;
        border-radius: 50%;
        border: none;
        margin-bottom: 10px;
        transition: background ease .2s, transform ease .1s;
        cursor: pointer;

        &:hover {
          background: #3197F4;
        }

        &:active {
          transform: scale(.9);
        }
      }

      &__icon {
        transform: translate(27%, 0);
      }

      &__text {
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        width: min-content;
      }
    }
  }

  &__video {
    max-width: 956px;
    width: 100%;
  }

  @media (max-width: 750px) {
    &__wrapper {
      margin-top: 15px;
    }

    .video-play {
      &__button {
        width: 65px;
        height: 65px;
      }

      &__icon {
        width: 12px !important;
        height: 12px !important;
      }
    }
  }
}

// === Статистика ===
.stat {
  overflow: visible;
  margin-top: 100px;
  position: relative;

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translate(0, -50%);
  }

  &-title {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    color: vars.$color-accent-1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    &__top {
      font-size: 64px;
      line-height: 78px;
    }

    &__bottom {
      font-size: 96px;
      line-height: 117px;
      align-self: flex-end;
    }
  }

  &__line {
    margin-top: 80px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    align-items: center;
  }

  &-elem {
    display: flex;
    flex-direction: column;

    &__icon {
      width: 60px;
      height: 60px;
      margin-bottom: 15px;
    }

    &__value {
      color: vars.$color-accent-5;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 2px;
      margin-bottom: 2px;
    }

    &__name {
      font-size: 16px;
      font-weight: 600;
      line-height: 32px;
      color: vars.$color-text;
    }
  }

  @media (max-width: 1024px) {
    &__bg {
      display: none;
    }
  }

  @media (max-width: 850px) {
    &-list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      align-items: start;
    }

    .stat-elem {
      align-items: center;
      text-align: center;
    }
  }

  @media (max-width: 660px) {
    &-title {
      text-align: center;
      row-gap: 44px;

      &__top {
        font-size: 30px;
        line-height: 36px;
      }

      &__bottom {
        align-self: stretch;
        font-size: 48px;
        line-height: 58px;
      }
    }
  }

  @media (max-width: 410px) {
    &-list {
      grid-template-columns: 1fr;
      grid-gap: 70px;
    }
  }
}

// === Отзывы ===
.reviews {
  overflow: visible;
  margin-top: 150px;

  // Переключатели слайдеров
  &-tabs {
    margin: 50px 0;
    display: flex;
    justify-content: center;

    &__tab {
      padding: 16px 27px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 2px;
      border: none;
      background: none;
      color: vars.$color-accent-1;
      cursor: pointer;
      font-family: vars.$main-font;
      transition: background ease .2s;

      &.active {
        background: vars.$color-accent-1;
        color: #fff;

        &:hover {
          background: #3197F4;
        }
      }

    }
  }

  // Контейнер для всех слайдеров и элементов управления
  .slider-all-container {
    position: relative;

    &__nav {
      position: absolute;
      top: 50%;
      background: vars.$color-accent-1;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      width: 68px;
      height: 68px;
      transition: background ease .2s, scale ease .1s;
    
      &_to-prev {
        left: -33px;
        transform: translate(-100%, -50%);
      }

      &_to-next {
        right: -33px;
        transform: translate(100%, -50%);
      }

      &.swiper-button-disabled {
        background: #C4C4C4 !important;
        scale: 1 !important;
        cursor: default !important;
      }

      &:hover {
        background: #3197F4;
      }

      &:active {
        scale: .95;
      }
    }
  }

  // Слайдер видео
  .slider-video {
    &-slide {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__play {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      background: vars.$color-accent-1;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      z-index: 5;
      transition: background ease .2s, transform ease .1s;

      svg {
        width: 10px;
        height: 10px;
      }

      &:hover {
        background: #3197F4;
      }

      &:active {
        transform: translate(-50%, -50%) scale(.95);
      }
    }

    &__video {
      max-width: 90%;
    }
  }


  .slider-text-container {
    display: none;
  }

  // Слайдер текста
  .slider-text {
    &.active {
      opacity: 1;
      visibility: visible;
    }

    &-slide {
      display: flex;
      justify-content: center;

      &__wrapper {
        display: flex;
        align-items: center;
        column-gap: 43px;
        width: 80%;
      }

      &__link {
        position: relative;
        transition: opacity ease .2s, transform ease .1s;

        &-image {
          border-radius: 50%;
        }

        &-logo {
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(-15%, -15%);
        }

        &:hover {
          opacity: .6;
        }

        &:active {
          opacity: .3;
          transform: scale(.95);
        }
      }

      &__text-block {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
      }

      &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: vars.$color-text-bold;
      }

      &__description {
        color: #000;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
      }
    }
  }

  @media (max-width: 1270px) {
    .slider-all-container {
      &__nav {
        &_to-next,
        &_to-prev {
          transform: translate(0%, -50%);
        }

        &_to-next {
          right: -66px;
        }

        &_to-prev {
          left: -66px;
        }
      }
    }
  }

  @media (max-width: 1210px) {
    .slider-all-container {
      &__nav {
        z-index: 10;

        &_to-next {
          right: -33px;
          transform: translate(-15%, -50%);
        }

        &_to-prev {
          left: -33px;
          transform: translate(15%, -50%);
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .slider-all-container {
      &__nav {
        &_to-next {
          right: 0;
          transform: translate(0%, -50%);
        }

        &_to-prev {
          left: 0;
          transform: translate(0%, -50%);
        }
      }
    }
  }

  @media (max-width: 920px) {
    &__row {
      padding-bottom: 80px;
    }

    .slider-all-container {
      &__nav {
        top: unset;
        bottom: -50px;
        transform: translate(-50%, 100%);

        &_to-next {
          left: 60%;
        }

        &_to-prev {
          left: 40%;
        }
      }
    }
  }

  @media (max-width: 600px) {
    margin-top: 80px;

    .slider-all-container {
      &__nav {
        &_to-next {
          left: 80%;
        }

        &_to-prev {
          left: 20%;
        }
      }
    }

    .slider-text-slide {
      &__wrapper {
        flex-direction: column;
        row-gap: 20px;
        text-align: center;
      }
    }
  }
}

// === Оставьте заявку, фото юриста ===
.request {
  margin-top: 120px;
  background: url(../images/bg-blue.png) center/cover no-repeat;

  &__line {
    grid-template-columns: 2.3fr 1fr;
    grid-template-areas: "text image";
  }

  &__image {
    top: unset;
    bottom: 0;
    transform: translate(60%, 13%);
    z-index: -1;
  }

  &__text {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
  }

  @media (max-width: 1250px) {
    &__image {
      transform: translate(70%, 5%);
    }
  }

  @media (max-width: 1000px) {
    &__image {
      transform: translate(60%, -3%);
    }
  }

  @media (max-width: 840px) {
    &__image {
      transform: translate(0%, -3%) !important;
    }
  }
}

// === Ответы на вопросы ===
.answers {
  overflow: visible;
  margin-top: 77px;
  position: relative;

  &__bg {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, 20%);
    width: 100%;
  }
  
  &__wrapper {
    margin-top: 90px;
  }

  .questions-list {
    display: flex;
    flex-direction: column;
    row-gap: 85px;
  }

  // Вопрос
  .question {
    display: flex;
    color: #000;
    position: relative;
    cursor: pointer;

    &__button {
      background: none;
      border: none;
      cursor: pointer;
      text-align: start;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &__marker {
      position: absolute;
      left: -50px;
      top: 0;
      transform: translate(-100%, 0%) rotate(45deg);
      background: #D0E5FF;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: "";
        width: 18px;
        height: 13px;
        display: block;
        background: url(../images/marker-arrow.svg) center / cover no-repeat;
        transform: rotate(-45deg);
        transition: rotate ease .3s;
      }
    }

    &.active {
      .question__marker::before {
        rotate: 180deg;
      }

      .question__answer {
        display: block;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
    }

    &__answer {
      display: none;
      margin-top: 12px;

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
      }
    }
  }

  @media (max-width: 1300px) {
    .questions-list {
      padding-left: 100px;
    }
  }

  @media (max-width: 520px) {
    .questions-list {
      padding-left: 0;
      row-gap: 100px;
    }

    .question {
      &__button {
        text-align: center;
      }

      &__marker {
        left: 50%;
        top: -20px;
        transform: translate(-50%, -100%) rotate(45deg);
      }
    }
  }
}

// === Синяя вставка оформления заказа ===
.get-order-2 {
  margin-top: 200px;

  .get-order__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 46px auto 62px auto;
    width: 70%;
  }

  .get-order__button {
    margin: 0;
  }

  .get-order__decor-img {
    &_1 {
      transform: translate(-50%, 10%) !important;
    }

    &_2 {
      transform: translate(50%, -35%) !important;
    }
  }

  @media (max-width: 1100px) {
    .get-order__decor-img {
      &_1 {
        transform: translate(-25%, 80%) !important;
      }
  
      &_2 {
        transform: translate(30%, -45%) !important;
      }
    }

    .get-order__subtitle {
      width: auto;
    }
  }

  @media (max-width: 600px) {
    .get-order__decor-img {
      top: unset;
      bottom: 0;

      &_1 {
        transform: translate(-25%, -50%) !important;
      }
  
      &_2 {
        transform: translate(30%, -45%) !important;
      }
    }

    .get-order__button {
      margin-top: 300px;
    }
  }

  @media (max-width: 480px) {
    margin-top: 80px;

    .get-order__decor-img {
      &_1 {
        transform: translate(-25%, -70%) !important;
      }
  
      &_2 {
        transform: translate(30%, -45%) !important;
      }
    }
  }
}

// === Если остались вопросы (Контакты) ===
.contacts {
  overflow: visible;
  margin-top: 150px;
  position: relative;

  &__decor-img {
    position: absolute;
    right: -20px;
    top: -50px;
    // transform: translate(-80%, 0);
    z-index: -1;
  }

  &-title {
    display: flex;
    flex-direction: column;
    color: vars.$color-accent-1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    &__top {
      font-size: 64px;
      line-height: 78px;
    }

    &__bottom {
      font-size: 96px;
      line-height: 117px;
    }
  }

  &-note {
    margin-top: 49px;
    margin-bottom: 91px;
    display: flex;
    column-gap: 27px;

    &__icon {
      margin-top: 10px;
    }

    &__text {
      color: vars.$color-accent-1;
      font-weight: 500;
      font-size: 32px;
      line-height: 39px;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  
  &-item {
    color: vars.$color-text;
    display: flex;
    column-gap: 40px;

    &__name {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
    }

    &__value {
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: center;
      column-gap: 12px;
      text-decoration: none;
      color: currentColor;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        text-decoration: none;
      }
    }
  }

  &__wrapper {
    position: relative;

    .socials {
      position: absolute;
      left: 65%;
      bottom: 0;
      transform: translate(-50%, 0);
    }
  }

  @media (max-width: 1024px) {
    &__decor-img {
      right: -100px;
    }
  }

  @media (max-width: 970px) {
    .socials {
      left: unset;
      bottom: unset;
      transform: none;
      position: relative;
      margin-top: 60px;
    }
  }

  @media (max-width: 790px) {
    &__decor-img {
      right: -180px;
    }
  }

  @media (max-width: 620px) {
    .socials {
      &__list {
        justify-content: center;
      }
    }

    &-item {
      flex-direction: column;
      align-items: center;
      row-gap: 13px;
    }
  }

  @media (max-width: 540px) {
    margin-top: 70px;

    &-title {
      align-items: center;

      &__top {
        font-size: 36px;
        line-height: 43px;
      }

      &__bottom {
        font-size: 44px;
        line-height: 54px;
      }
    }

    &-note {
      flex-direction: column;
      row-gap: 15px;
      margin-top: 37px;
      margin-bottom: 70px;

      &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__decor-img {
      right: 50px;
      top: 100px;
    }
  }

  @media (max-width: 430px) {
    &__decor-img {
      right: 0;
      top: 100px;
    }
  }
}

// === Карта ===
.map {
  overflow: visible;
  margin-top: 150px;
  position: relative;
  height: 700px;

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 700px;
  }
  
  &__row {
    position: relative;
  }

  &-note {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background: vars.$color-accent-1;
    color: #fff;
    padding: 40px 30px;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    width: 70%;
    
    &__text-block {
      display: flex;
      flex-direction: column;
    }

    &__title {
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 10px;
    }

    &__about {
      font-weight: 500;
    }
  }

  @media (max-width: 750px) {
    &-note {
      width: 100%;
    }
  }

  @media (max-width: 460px) {
    &-note {
      transform: translate(0, -30%);

      &__icon {
        width: 56px;
      }

      row-gap: 30px;
      text-align: center;
      flex-direction: column;
      align-items: center;
    }
  }
}
