$color-text: #5E5E5E;
$color-text-bold: #1E1E1E;

$color-accent-1: #307FE2;
$color-accent-2: #F9E547;
$color-accent-3: #A5E1FD;
$color-accent-4: #A60000;
$color-accent-5: #93DA49;

$main-font: 'Montserrat', Arial, Helvetica, sans-serif;